<p>page-catalog works!</p>
<div class="container_product">
<app-item-product-list></app-item-product-list>
<app-item-product-list></app-item-product-list>
<app-item-product-list></app-item-product-list>
<app-item-product-list></app-item-product-list>
<app-item-product-list></app-item-product-list>
<app-item-product-list></app-item-product-list>
<app-item-product-list></app-item-product-list>
<app-item-product-list></app-item-product-list>
<app-item-product-list></app-item-product-list>
<app-item-product-list></app-item-product-list>
</div>