<main>
  <div class="container">
    <div class="text_container">
      <h3>Nom produit</h3>
      <h4>Description</h4>
      <h5>stock:</h5>
    </div>
    <div class="photo_container">
      <img
      src="assets/FOU-BURE-0204.jpg"
      alt="photo de "
      class="photo_produit"
      />
      <div class="frav_container" >
      <img
        src="assets/etoilePleine.svg"
        alt="logo favoris actif"
        class="logo_favoris" 
      />
      <img src="assets/etoileVide.svg" alt="logo favoris inactif" >
    </div>
    </div>
  </div>
</main>
